<div class="resume-intro py-3">
  <div class="row align-items-center">
    <div class="col-12 col-md-3 col-xl-2 text-center">
      <img class="resume-profile-image mb-3 mb-md-0 me-md-5 ms-md-0 rounded mx-auto"
           src="assets/images/resume-profile.png"
           alt="portrait image of an extremely suave and handsome man"
      >
    </div>
    <div class="col text-start">
      <p>
        I am an engineering manager who specializes in continuous improvement and outcome driven teams. Teams are at
        their best when they are constantly striving towards greater outcomes.
      </p>
      <p class="mb-0">
        I am a software engineer who specializes in legacy displacement, high impact migrations, and always-on systems.
        I am at my best when there is no good time for downtime and 3AM failures are a non-option.
      </p>
    </div><!--//col-->
  </div>
</div><!--//resume-intro-->
